---
name: Website deployment
on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  publish-website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout code
      - name: Install mdbook and plugins
        run: |
          cargo install mdbook@0.4.44 mdbook-admonish@1.20.0 mdbook-mermaid@0.16.2
      - name: Build docs
        run: |
          cd documentation && chmod +x build.sh && ./build.sh
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./documentation/book
